/* admin.css */
#uploadForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

#previewTable {
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-x: auto;
}

#previewTable table {
    width: 100%;
    border-collapse: collapse;
}

#previewTable table th, #previewTable table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}