/* records.css */
#searchBib, #eventSelect {
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

#result, #top10Result {
    margin-top: 1rem;
    background: #eef4f7;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}